/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.back-link {
  margin-bottom: 50px;
}
.main-input {
  width: 272px;
  height: 40px;
  padding-left: 16px;
}
.main-input:hover {
  border-color: #6c8cff;
  outline: transparent;
}
.main-button {
  border-radius: 8px;
  padding: 8px 16px;
  min-width: 75px;
  height: 40px;
  background: #4e75ff;
  outline: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-color: #4e75ff;
  text-align: center;
}
.main-button:hover {
  background-color: #6c8cff;
}
.main-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 32px;
}
.js-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.gallery-card {
  width: calc((100% - 60px) / 4);
}
.gallery-img {
  width: 100%;
  height: 380px;
  object-fit: cover;
}
.gallery-info {
  display: flex;
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: block;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-left: auto;
  margin-right: auto;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #ff3d00;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader.is-hidden {
  display: none;
}
.load-more {
  border-radius: 8px;
  padding: 8px 16px;
  width: 125px;
  height: 40px;
  background: #4e75ff;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  outline: transparent;
  border-color: #4e75ff;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 32px;
}
.load-more.is-hidden {
  display: none;
}
